@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;800&display=swap");
:root {
    --primary-color: #1c3144;
    --secondary-color: #86a192;
    --accent1-color: #141d0f;
    --accent2-color: #70161e;
    
    --heading-font: 'Open Sans', serif;
    --paragraph-font:  'Open Sans', serif;
    
    --nav-background-color: #7ea16b;
    --nav-link-color: #1c3144;
    --nav-hover-link-color: #70161e;
    --nav-hover-background-color: #596f62;
}
header {
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 20% 80%;
    align-items: center;
    border-bottom: 1px solid var(--primary-color);
    background-color:var(--nav-background-color);
}
.logo img{
    margin-top: .5em;
    width: 150px;
    height: auto;
    margin-left: 1em;
    border: 2px solid var(--nav-link-color);
}
nav{
    display: flex;
    justify-content: space-around;
}
header a {
	display: block;
    border: 2px solid var(--nav-link-color);
    border-radius: 1em;
    padding: .5em 1em;
    margin: .5em;
    color: var(--nav-link-color);
    font-weight: 800;
    background: radial-gradient(#eee, #4567aa);
}
ul {
    display: flex;
    justify-content:space-around;
    align-items: center;
    list-style:none;
    border-radius: .5em;
    padding: .5em;
    margin: 0;
}
section .history{
    display: grid;
    grid-template-columns: 50% 50%;
}
.history {
    padding-top: 0.5rem;
    width: 100%;
    height: auto;
    display: flex;
    align-items:start;
}
.history img{
    width: 500px;
    height:auto;
}
.his{
    text-align: justify;
    background-color: var(--secondary-color);
}
.adventure {
    padding: 0.5rem;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    justify-content:space-between;
    align-items:center;
}
.adventure img {
    width: 160px;
    height: 100px;
}
figure:not(.routes figure) {
    border: thin #c0c0c0 solid;
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 220px;
    margin: auto;
}
figcaption {
    background-color: #222;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
  }
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    text-align: center;
    width: 100%;
    background: radial-gradient(#eee, #4567aa);
}

p:not(.contact p, form p, .trips p, .routes p, .index p, .offers p){
    font-family: var(--paragraph-font);
    color: var(--accent1-color);
    font-size: large;
    padding: 25px;
 }
 .hero{
    position: relative;
 }
 .hero img, .trips img{
    display: block;
    width: 100%;
    height: auto;
 }
 .hero h1 {
    text-align: center;
    position: absolute;
    top: 0%;
    opacity: 0.8;
 }
 article {
    text-align: center;
    position: absolute;
    width: 100%;
    height: auto;
	top: 45%;
    background: radial-gradient(#eee, #4567aa);
}
 .hero article img {
    float: right;
    width: 190px; 
}
footer a:link, header a:link, .trips a:link, .to_trips a:link{
    text-decoration: none;
}
footer{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: right;
    border-top: 1px solid var(--primary-color);
}
.map1 {
    width: 100%;
    height: auto;
    display: flex;
    align-items:start;
    padding-bottom: 1rem;
}
.employee{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    text-align: justify;
    background-color: var(--secondary-color);
}
.title{
 display: flex;
}
form {
    width: 650px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0,0.1);
    border-radius: 0.5rem;
    background-color: #eee;
    display: grid;
    align-items: center;
    justify-items: center; 
}
fieldset {
    display: grid;
    grid-gap: .5rem;
    border: 1px solid rgba(0, 0, 0,0.2);
    padding: 1rem;
}
legend {
    font-weight: bold;
    color: navy;
    font-size: 1.3em;
}
button {
    margin: 1rem;
    background-color: navy;
    color: #fff;
    border: none;
    border-radius: 0.5rem;
    padding: 0.75rem;
    font-size: 1.5rem;
    width: 250px;
}
button:hover, .trips a:hover, .to_trips a:hover {
    background-color: darkgreen;
}
.contact, .trips {
    display: block;
    text-align: center;
    background-color: var(--secondary-color);
    font-size: 20px;
    font-weight: bold;
    border: 1px solid var(--primary-color);
}
label, input, textarea, form p{
    font-family: 'Open Sans', serif;
    font-size: large;
}
.employee img{
    width: 150px;
}

.trips h1 {
    text-align: center;
    position: absolute;
    font-size: 32px;
    top: 20%;
    max-width: 960px;
    opacity: 0.95;
}
.trips a, .to_trips a{
    margin: 1rem;
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    border-radius: 0.5rem;
    padding: 0.75rem;
    font-size: 1.5rem;
    width: 300px;
    height: auto;
}
.routes{
   display: grid;
   grid-template-columns: 33.3% 33.3% 33.3%;
   padding-top: 1.5rem;
   justify-items: center;
}
.routes img{
    width: 260px;
    height: 205px;
    align-items:center;
}
.routes div{
    display: block;
    border: 2px solid var(--primary-color);
    border-radius: 1em;
    margin: .2em;
    color: var(--accent1-color);
    background: var(--secondary-color);
    text-align: center;
    font-size:larger;
    padding: 0.2rem;
}
table, td {
    border: 1px solid #333;
    text-align: center;
    padding: 0.3rem;
    background-color: var(--secondary-color);
}

th {
    background-color: var(--primary-color);
    color: #fff;
    padding: 1rem;
}
.table{
    display: grid;
    justify-items: center;
    padding-bottom: 1rem;
}

.index{
    display: grid;
    grid-template-columns: 55% 45%;
    justify-items: center;
    padding-top: 0.7rem;
    justify-content: space-between;
 }
.index form {
    width: 490px;
    margin: 0 auto;
    border: 1px solid rgba(0, 0, 0,0.1);
    border-radius: 0.5rem;
    background-color: var(--secondary-color);
    display: grid;
    align-items: center;
    justify-items: center;
    text-align:justify ;
    border: 1px solid var(--primary-color);
}
.to_trips{
    display: block;
    background-color: var(--secondary-color);
    border: 1px solid rgba(0, 0, 0,0.1);
    border-radius: 0.5rem;
    text-align: center;
    font-size: larger;
    padding: 0.5rem;
    border: 1px solid var(--primary-color);
}
.to_trips img{
    width: 400px;
    height: 200px;
    align-items:center;
}
.offers{
    display: grid;
    grid-template-columns: 50% 50%;
    padding-top: 0.5rem;
    justify-items: center;
    text-align: center;
    font-size:larger;
    padding-bottom: 0.5rem;

 }
 .offers img{
    width: 90%;
    height: 300px;
    padding: 0.5rem;
 }
 .offers div{
    margin: 0.3rem;
    border: 1px solid var(--primary-color);
    border-radius: 0.5rem;
    background-color: var(--secondary-color);
    padding: 0.3rem;
 }